<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div *ngIf="isCadastroRegiao">
        <h2>Cadastro de Região</h2>
      </div>

      <div *ngIf="!isCadastroRegiao">
        <h2>Região: {{ regiao?.nome }}</h2>
      </div>

      <div>
        <button *ngIf="isCadastroRegiao" [routerLink]="['/home']" class="btn btn-secondary rounded-full p-2">
          <span class="material-symbols-outlined" style="font-size: 20px;">
            close
          </span>
        </button>
      </div>
    </div>

    <div class="conteudo-scrollavel">
      <form [formGroup]="formCadastro">
        <div class="form-group">
          <input class="control" type="text" formControlName="nome" autocomplete="off" />
          <label for="name">Nome da Região *</label>
        </div>

        <p class="text-primary font-bold mt-3">
          Locais da Região
        </p>

        <div class="w-100">
          <div formArrayName="locais" *ngFor="let local of locaisFormArray?.controls; let i = index" class="flex items-center w-100">
            <div [@fadeAnimation] [formGroupName]="i" class="w-100 flex justify-between align-center">
              <app-select
                class="w-100"
                label="Cidade"
                [control]="locaisFormArray.controls[i].get('cidade')"
                [itens]="cidades"
                (onChange)="onChangeCidade($event)"
              ></app-select>

              <span
                *ngIf="locaisFormArray?.controls?.length > 1"
                class="material-symbols-outlined ml-2 cursor-pointer text-danger"
                (click)="removerLocal(i)">
                delete
              </span>
            </div>
          </div>
        </div>

        <div class="flex justify-center mb-3">
          <button class="btn-rounded btn-secondary" (click)="adicionarLocal()">
            <span class="material-symbols-outlined mr-2" style="font-size: 20px;">
              add_circle
            </span>
            Adicionar Local
          </button>
        </div>

      </form>
    </div>

    <div class="card-footer">
      <button *ngIf="!isCadastroRegiao" [routerLink]="['/regiao/cadastro']"  class="btn btn-success">
        <span class="material-symbols-outlined" style="font-size: 20px;">
          add
        </span>
        Nova Região
      </button>
      <button *ngIf="!isCadastroRegiao" (click)="excluirRegiao()"  class="btn btn-danger mr-auto">
        <span class="material-symbols-outlined" style="font-size: 20px;">
          delete
        </span>
        Excluir Região
      </button>
      <button class="btn btn-secondary"  [routerLink]="['/home']">Cancelar</button>
      <button class="btn btn-primary" (click)="cadastrarRegiao()">Salvar</button>
    </div>
  </div>
</div>
