<div class="container mt-2">
  <div class="card">
    <h1>Fretefy Teste Técnico - Front-end</h1>

    <p>Estou utilizando o json-server para funcionar como API.</p>

    <h2>Como rodar</h2>
    <pre><code>npm install -g json-server&#64;0.17.4</code></pre>
    <pre><code>npm run api</code></pre>
    <p>ou</p>
    <pre><code>npx json-server --watch src/api/db.json --port 3333</code></pre>
    <br>
    <h1>Fiz algumas refatorações no código</h1>
    <p>Atualizei a versão do Angular da v10 para v18.</p>
    <p>Refatorei componentes para standalone, onde cada componente é seu próprio módulo.</p>
    <p>Refatorei algumas diretivas como <code>*ngIf</code> e <code>*ngFor</code> para o novo padrão <code>&#64;if</code> e <code>&#64;for</code>.</p>
    <p>Refatorei a injecao de dependências para o novo padrão, usando inject(Dependência)</p>

  </div>
</div>
