<div class="flex justify-between align-center flex-wrap mb-3">
  <div>
    <h2>{{titulo}}</h2>
  </div>

  <div *ngIf="acoesHeader">
    <ng-container *ngTemplateOutlet="acoesHeader"></ng-container>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let coluna of colunas">{{coluna.caption}}</th>
      <th *ngIf="acoes" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="data?.length === 0">
      <td colspan="3" class="text-center">Nenhum registro encontrado</td>
    </tr>
    <tr *ngFor="let row of data; let rowIndex = index">
      <td *ngFor="let coluna of colunas" class="vertical-align-center">

        <div *ngIf="coluna?.tipo == 'string'">
          {{row[coluna.dataField]}}
        </div>

        <div *ngIf="coluna?.tipo == 'boolean'">
          <span *ngIf="row[coluna.dataField]">Sim</span>
          <span *ngIf="!row[coluna.dataField]">Não</span>
        </div>

      </td>
      <td *ngIf="acoes" class="text-center vertical-align-center">
        <ng-container *ngTemplateOutlet="acoes; context: {$implicit: row, index: rowIndex}"></ng-container>
      </td>
    </tr>
  </tbody>
</table>
