<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      @if (isCadastroRegiao) {
        <div>
          <h2>Cadastro de Região</h2>
        </div>
      }@else {
        <div>
          <h2>Região: {{ regiao?.nome }}</h2>
        </div>
      }

      <div>
        <a [routerLink]="['/gestao-regioes/listagem']" class="btn btn-secondary rounded-full p-2">
          <span class="material-symbols-outlined" style="font-size: 20px;">
            close
          </span>
        </a>
      </div>
    </div>

    <div class="conteudo-scrollavel">
      <form [formGroup]="formCadastro">
        <div class="form-group">
          <input class="control" type="text" formControlName="nome" autocomplete="off" />
          <label for="name">Nome da Região *</label>
        </div>

        <p class="text-primary font-bold mt-3">
          Locais da Região
        </p>

        <div class="w-100">
          @for (item of locaisFormArray?.controls; track $index; let i = $index) {
            <div formArrayName="locais" class="flex items-center w-100">
              <div [@fadeAnimation] [formGroupName]="i" class="w-100 flex justify-between align-center">
                <app-select
                  class="w-100"
                  label="Cidade"
                  [control]="locaisFormArray.controls[i].get('cidade')"
                  [itens]="cidades"
                  (onChange)="onChangeCidade($event)"
                ></app-select>

                @if (locaisFormArray?.controls?.length > 1) {
                  <span
                    class="material-symbols-outlined ml-2 cursor-pointer text-danger"
                    (click)="removerLocal(i)">
                    delete
                  </span>
                }
              </div>
            </div>
          }
        </div>

        <div class="flex justify-center mb-3">
          <button class="btn-rounded btn-secondary" (click)="adicionarLocal()">
            <span class="material-symbols-outlined mr-2" style="font-size: 20px;">
              add_circle
            </span>
            Adicionar Local
          </button>
        </div>

      </form>
    </div>

    <div class="card-footer">
      @if (!isCadastroRegiao) {
        <button [routerLink]="['/gestao-regioes/regiao/cadastro']"  class="btn btn-success">
          <span class="material-symbols-outlined" style="font-size: 20px;">
            add
          </span>
          Nova Região
        </button>
        <button (click)="excluirRegiao()"  class="btn btn-danger mr-auto">
          <span class="material-symbols-outlined" style="font-size: 20px;">
            delete
          </span>
          Excluir Região
        </button>
      }
      <button class="btn btn-secondary"  [routerLink]="['/gestao-regioes/listagem']">Cancelar</button>
      <button class="btn btn-primary" (click)="cadastrarRegiao()">Salvar</button>
    </div>
  </div>
</div>
